@use "src/sass/abstracts/colors";
@use "src/sass/abstracts/mixins";

.inner-wrapper {
    position: relative;

    &.flex {
        display: flex;
    }

    &.flex-center {
        @include mixins.flex-center;
        flex-wrap: wrap;
    }

    &.flex-center-x-top-y {
        @include mixins.flex-center-x-top-y
    }

    &.flex-between {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &.flex-center-column {
        @include mixins.flex-center-column
    }

    &.small {
        flex-direction: column;
    }

    width: 100%;
    @include mixins.max-width-lg;
}