@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@mixin flex-center-x-top-y {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@mixin max-width-lg {
    max-width: 1200px;
}