@use "src/sass/abstracts/mixins";

.corner-nav-group {
    @include mixins.flex-center;

    button:first-child {
        margin-right: 1rem;
    }

    &.small {
        button:first-child {
            margin-right: 0.5rem;
        }
    }
}