@use "src/sass/abstracts/mixins";

.corner-nav-group {
    @include mixins.flex-center;

    a:first-child {
        margin-right: 1rem;
    }

    &.small {
        a:first-child {
            margin-right: 0.5rem;

            button {
                padding: 0 0.5rem;
            }
        }


    }
}