@use "src/sass/abstracts/mixins";

.left-nav-group {
    @include mixins.flex-center;

    button:first-child {
        margin-right: 1rem;
    }

    &.tablet {
        button:first-child {
            margin-right: 0.5rem;
        }
    }
}