@use "src/sass/abstracts/colors";
@use "src/sass/abstracts/mixins";
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


.nav {
    @include mixins.flex-center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;
        @include mixins.max-width-lg;
        width: 100%;
    }

    .right-nav-group {
        @include mixins.flex-center;

        .burger-icon {
            color: colors.$dark-pink-4;
            cursor: pointer;

            &:hover {
                color: colors.$dark-pink-2;
            }
        }
    }
}