@use "src/sass/abstracts/mixins";
@use "src/sass/abstracts/colors";

.nav-links {
    list-style: none;
    @include mixins.flex-center;
    margin: 0;
    padding: 0;

    li,
    a {
        color: colors.$dark-pink-3;
        margin-right: 2rem;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: colors.$dark-pink-1;
        }
    }

    &.small {
        display: block;

        li,
        a {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }
    }
}